.productContainer {
    width: 60%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.containerFluidProductTop{
    background-color: $main-color;
    height: 60px;

    .whatsThisProduct {
        position: absolute;
        top: -250px;
        left: 0;
        border: 1px solid #fff;

        .imgContainer {
            position: relative;

            div {
                position: absolute;
                font-size: $small-font;
                background-color: #00a9d9;
                color: $text-color;
                padding: 3px 7px;
            }
                
            div:nth-child(2) {
                top: 0;
                left: 0;
            }

            div:nth-child(3) {
                width: 100%;
                bottom: 0;
                text-align: center;
            }
        }
    }
}

.containerFluidProductMid {
    background-color: #fff;
    padding: 80px 0;

    .productInfo {

        width: 68%;
        
        h1 {
            color: $product-titles-color;
            margin-bottom: 20px;
        }

        .priceInfo {
            background-color: #55ba59;
            color: #b0f78e;
            font-size: $small-mid-font;
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 20px;

            .price {
                justify-content: space-between;
                width: 75%;
                border-right: 1px solid #4aa34e;

                .pricePadding {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding: 10px 20px;

                    .lighter {
                        color: $text-color;
                    }
                }
            }

            .availableCheck {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                border: none;
                width: 25%;
                background-color: #55ba59;
                color: $text-color;

                span {
                    position: relative;
                    top: -1px; // I SWEAR YOU CAN SEE IT NOT BEING ALIGNED AND IT DRIVES ME CRAZY.
                }
            }
        }

        .productDescription {
            font-size: $small-mid-font;
            line-height: 25px;
            width: 100%;
        }
    }

    .ad {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: $small-mid-font;
        text-align: right;
    }
}

.containerFluidProductBottom {
    background-color: #f6f6f6;
    padding: 30px 0 130px;
    border-top: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    
    .talents {
        color: $product-titles-color;
        width: calc(50% - 20px);
        margin-right: 30px;

        h2 {
            margin-bottom: 30px;
        }

        .artists, .writers {
            border-top: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;
            padding: 10px 0;
            display: flex;
            justify-content: space-between;
            
            h4 {
                min-width: 180px;
            }

            div {
                line-height: 16px;

                a {
                    color: $link-color;
                    text-decoration: none;
                    font-size: $small-mid-font;
                    font-weight: 700;

                    &:after {
                        content: ',';
                        color: #aaa;
                    }

                    &:last-child {
                        
                        &:after {
                            content: '';
                        }
                    }
                }
            }
        }
    }

    .specs {
        color: $product-titles-color;
        width: calc(50% - 20px);


        h2 {
            margin-bottom: 30px;
        }

        .series, .specsPrice, .firstOnSale {
            border-top: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;
            padding: 10px 0;
            display: flex;
            
            h4 {
                min-width: 220px;
            }

            span {
                font-weight: 700;
            }

            a {
                color: $link-color;
                text-decoration: none;
                font-size: $small-mid-font;
            }
        }
    }
}

.containerFluidLinks {
    background-color: #f6f6f6;
    height: 100px; //images are missing, so placeholding with fixed height
    display: flex;
    border-top: 1px solid #e6e6e6;

    .link {
        flex-grow: 1;
        padding: 15px;
        color: $text-color-footer;
        border-right: 1px solid #e6e6e6;
        font-weight: 700;
    }

    .borderLeft {
        border-left: 1px solid #e6e6e6;
    }
}