@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);.header .headerUpper {
  background-color: #0282f9;
  height: 25px;
  color: #fff;
}
.header .headerUpper .headerUpperContainer {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .headerUpper .headerUpperContainer ul {
  list-style-type: none;
}
.header .headerUpper .headerUpperContainer ul li {
  display: inline-block;
  margin-left: 40px;
  font-size: 12px;
}
.header .headerLower {
  width: 70%;
  margin: 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
}
.header .headerLower img {
  width: 70px;
}
.header .headerLower nav {
  height: 100%;
}
.header .headerLower nav ul {
  height: 100%;
  list-style-type: none;
  margin-right: 20px;
}
.header .headerLower nav ul li {
  height: 100%;
  line-height: 100px;
  display: inline-block;
  margin-left: 20px;
  font-size: 14px;
}
.header .headerLower nav ul li.selected {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}
.header .headerLower .search {
  border-bottom: 3px solid #0282f9;
  padding: 5px;
}
.header .headerLower .search .searchBar {
  text-align: right;
  width: 100px;
  border: none;
  padding-right: 10px;
}
.header .headerLower .search .searchBar i {
  margin-left: 10px;
}
.header .jumbotron {
  background-image: url("/images/jumbotron.jpg");
  height: 400px;
  background-size: cover;
}

.mainContainerFluid {
  display: flex;
  justify-content: center;
  background-color: #1c1c1c;
}
.mainContainerFluid .mainContainer {
  display: flex;
  width: 70%;
  margin: 0 auto;
  padding: 30px 10px;
  position: relative;
  flex-wrap: wrap;
}
.mainContainerFluid .mainContainer .whatsThis {
  position: absolute;
  left: 0;
  top: -20px;
  color: #fff;
  background-color: #0282f9;
  padding: 5px 20px;
  font-weight: 700;
  font-size: 18px;
}
.mainContainerFluid .mainContainer .comicItem {
  width: calc(100%/6);
  height: 200px;
  color: #fff;
  font-size: 14px;
  padding: 0 10px;
  margin-bottom: 90px;
}
.mainContainerFluid .mainContainer .comicItem a {
  color: #fff;
  text-decoration: none;
}
.mainContainerFluid .mainContainer .comicItemPic {
  height: 200px;
  margin-bottom: 15px;
  overflow: hidden;
}
.mainContainerFluid .mainContainer .comicItemPic img {
  width: 100%;
}
.mainContainerFluid .mainContainer .more {
  width: 16.6666666667%;
  background-color: #0282f9;
  height: 40px;
  border: none;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
}

.options {
  background-color: #0282f9;
  display: flex;
  align-items: center;
  padding: 50px 0;
}
.options .blueContainer {
  justify-content: space-around;
  display: flex;
  width: 70%;
  margin: 0 auto;
}
.options .blueContainer div {
  width: 18%;
  font-size: 12px;
}
.options .blueContainer div:last-child img {
  width: 30%;
}
.options .blueContainer div span {
  margin-left: 15px;
  color: #fff;
}
.options .blueContainer div img {
  height: 60px;
  vertical-align: middle;
}

.footer {
  display: flex;
  flex-direction: column;
}
.footer .bg-image {
  background-image: url("/images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 370px;
}
.footer .bg-image .footerContainer {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 100%;
  color: #888;
}
.footer .bg-image .footerContainer .leftSide {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer .bg-image .footerContainer .leftSide .links {
  display: flex;
}
.footer .bg-image .footerContainer .leftSide .links ul {
  text-align: left;
  margin-right: 30px;
}
.footer .bg-image .footerContainer .leftSide .links ul li {
  list-style: none;
  margin-bottom: 5px;
  font-size: 12px;
}
.footer .bg-image .footerContainer .leftSide .links ul li:hover {
  color: #fff;
  cursor: pointer;
}
.footer .bg-image .footerContainer .leftSide .links ul li:first-child {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  margin: 18px 0;
}
.footer .bg-image .footerContainer .leftSide .license {
  font-size: 10px;
  margin-bottom: 10px;
}
.footer .bg-image .footerContainer .leftSide .license a {
  text-decoration: none;
  color: #0282f9;
}
.footer .bg-image .footerContainer .bg-logo {
  background-image: url("/images/dc-logo-bg.png");
  background-size: 95%;
  width: 50%;
  background-position-y: center;
  background-repeat: no-repeat;
}
.footer .bg-color {
  background-color: #303030;
  height: 74px;
  display: flex;
  align-items: center;
}
.footer .bg-color .lowerFooterContainer {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin: 0 auto;
}
.footer .bg-color .lowerFooterContainer .button-bottom {
  padding: 10px 15px;
  color: #fff;
  border: 2px solid #0282f9;
}
.footer .bg-color .lowerFooterContainer .social-links {
  display: flex;
  align-items: center;
}
.footer .bg-color .lowerFooterContainer .social-links span {
  color: #0282f9;
  font-size: 18px;
  margin-right: 20px;
  font-weight: bold;
}
.footer .bg-color .lowerFooterContainer .social-links img {
  margin-right: 10px;
  height: 100%;
}

.productContainer {
  width: 55%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.containerFluidProductTop {
  background-color: #0282f9;
  height: 60px;
}
.containerFluidProductTop .whatsThisProduct {
  position: absolute;
  top: -250px;
  left: 0;
  border: 1px solid #fff;
}
.containerFluidProductTop .whatsThisProduct .imgContainer {
  position: relative;
}
.containerFluidProductTop .whatsThisProduct .imgContainer div {
  position: absolute;
  font-size: 12px;
  background-color: #00a9d9;
  color: #fff;
  padding: 3px 7px;
}
.containerFluidProductTop .whatsThisProduct .imgContainer div:nth-child(2) {
  top: 0;
  left: 0;
}
.containerFluidProductTop .whatsThisProduct .imgContainer div:nth-child(3) {
  width: 100%;
  bottom: 0;
  text-align: center;
}

.containerFluidProductMid {
  background-color: #fff;
  padding: 40px 0;
  height: 400px;
}
.containerFluidProductMid .productInfo {
  width: 68%;
}
.containerFluidProductMid .productInfo h1 {
  color: #003f5e;
  margin-bottom: 20px;
}
.containerFluidProductMid .productInfo .priceInfo {
  background-color: #55ba59;
  color: #b0f78e;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.containerFluidProductMid .productInfo .priceInfo .price {
  justify-content: space-between;
  width: 75%;
  border-right: 1px solid #4aa34e;
}
.containerFluidProductMid .productInfo .priceInfo .price .pricePadding {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
}
.containerFluidProductMid .productInfo .priceInfo .price .pricePadding .lighter {
  color: #fff;
}
.containerFluidProductMid .productInfo .priceInfo .availableCheck {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: none;
  width: 25%;
  background-color: #55ba59;
  color: #fff;
}
.containerFluidProductMid .productInfo .priceInfo .availableCheck span {
  position: relative;
  top: -1px;
}
.containerFluidProductMid .productInfo .productDescription {
  font-size: 14px;
  line-height: 25px;
  width: 100%;
}
.containerFluidProductMid .ad {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  text-align: right;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}